/* .spinning {
  animation: spin 2s ease-in-out 0.3s infinite alternate-reverse;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */



.pagination button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

.active {
  background-color: blue;
  color: white;
}